html{
    font-size: 62.5%;
}

body{
    display: grid;
    grid-template-areas: "cabecalho cabecalho cabecalho cabecalho"
                            "painel painel painel painel"
                            "sobre sobre sobre sobre"
                            "servicos servicos servicos servicos"
                            "rodape rodape rodape rodape";
                            /* (.- ponto) cria espaços nas colunas e nas linhas */

    grid-template-columns: repeat(4, 1fr);
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}